*,::after,::before{
    padding: 0;margin: 0;
    box-sizing: border-box;
}




body{
    background-color: rgb(255, 180, 87);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.menu-item.active{
    transform: translate3d(0, -.8em , 0) !important;

}

.menu-item.active::before{
    
    transform: scale(1.4);
    background-color: var(--bgColorItem);
    opacity: 1;

}

.menu{

    width: 750px;
    height: 80px;
    background-color: #1d1d27;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;

   >.menu-item{
    //    width: 100px;
    //    height: 100px;
    all: unset;
    flex-grow: 1;
    transition: 1s;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    // background-color: #fff;
    // transform: translate3d(0, -.8em , 0);

    >svg{
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 4;
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
        

       
       
            stroke: white;
            fill: white;
       
    }
   }

   >a::before{
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    background-color: var(--bgColorItem);
    transition: 1s;
    opacity: 0;
    //    transform: translate3d(0, -.8em , 0);
      

   }

   >.menu-border{
    left: -10px;
    
    bottom: 100%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
    background-color: #1d1d27;
    transition: .8s;
   }

    
}